body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

p { margin: 0 0 1em }

.card
{
    width: 1300px;
    height: 600px;
    background: url(https://source.unsplash.com/random/600x350);
    border-radius: 10px;
    /* overflow: hidden; */
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25))
}

.card-inner
{
    clip-path: padding-box polygon(0 0, 100% 0, 70% 100%, 0 100%);
    height: 90%;
    width: 60%;
    background: #F8F8F8;
    padding: 3% 0 3% 4%;
}

.card-inner-padding
{
    float: right;
    shape-outside: polygon(100% 0, 100% 100%, 0px 100%);
    height: 100%;
    width: 30%;
    top: 0;
    right: 0
}