html {
    font-size: 12px;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 900px;
    background-color: rgba(139, 233, 240, 0.912);
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

h1 {
font-size: 4rem;
color: rgba(33, 29, 29, 0.508);
}

#head2 {
font-size: 2rem;
}

#description {
font-size: 1rem;
}

footer {
font-size: 0.8rem;
}

h3 {
font-size: 1rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    column-width: 2in;
    text-align: center;
    font-size: 1.2rem;
    background-color: beige;
  }

#country {
    font-size: 1.5rem;
    color:rgb(17, 17, 17);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td {
    height: 1.5 rem;
}